@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap");

.container {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.container .background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  object-fit: cover;
  top: 0;
  left: 0;
}
.container header {
  background: linear-gradient(to top, #e6ba80b8 0%, #eacda3b5 100%);
}
.container header .header-nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .header-nav-section img {
  width: 8%;
  margin: 0 10rem 0 0;
}
.container header .header-nav-section .header-nav-lists {
  display: flex;
  margin: 0 0 0 10rem;
}
.container header .header-nav-section .header-nav-lists A {
  text-decoration: none;
  color: #402a23;
  font-family: "Lobster", cursive;
}
.container header .header-nav-section .header-nav-lists .header-nav-list {
  list-style: none;
  margin: 0 0.8rem;
}
.container header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .header-content .header-content-description {
  width: 300px;
  margin: 0 6rem 3rem 0;
}
.container header .header-content .header-content-description h1 {
  font-family: "Lobster Two", cursive;
  font-size: 40px;
  color: #402a23;
}
.container header .header-content .header-content-description p {
  font-family: "Lobster", cursive;
  font-size: 15px;
  color: #402a23;
}
.container header .header-content .header-content-description button {
  border: none;
  width: 40%;
  padding: 1rem;
  border-radius: 30px;
  background: #624a438e;
  color: #f8cd99;
  font-size: 18px;
  font-family: "Lobster", cursive;
  cursor: pointer;
}
.container header .header-content .header-content-description button:hover {
  background: #f8cd9980;
  color: #624a43;
}
.container header .header-content .header-content-description button:active {
  transform: translateY(4px);
}
.container header .header-content img {
  width: 18%;
  border-radius: 30px;
}
.container .menu-content {
  background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.container .menu-content h1 {
  font-family: "Lobster", cursive;
  margin: 0;
  text-align: center;
  padding: 2rem 0 1rem 0;
  color: #402a23;
  font-size: 40px;
}
.container .menu-content .menu-content-info .menu-content-lists {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 0;
  padding: 0 0 3rem 0;
  width: 700px;
}
.container
  .menu-content
  .menu-content-info
  .menu-content-lists
  .menu-content-list {
  list-style: none;
}
.container
  .menu-content
  .menu-content-info
  .menu-content-lists
  .menu-content-list
  img {
  width: 60%;
}
.container
  .menu-content
  .menu-content-info
  .menu-content-lists
  .menu-content-list
  p {
  width: 130px;
  display: block;
  font-family: "Lobster Two", cursive;
  font-size: 15px;
  color: #402a23;
  text-align: start;
}
.container .section-quote {
  background: linear-gradient(
    87.4deg,
    rgba(255, 241, 165, 0.847) 1.9%,
    rgba(200, 126, 76, 0.878) 49.7%,
    rgba(83, 54, 54, 0.871) 100.5%
  );
}
.container .section-quote .quote {
  padding: 7rem;
  display: block;
  margin: 0 auto;
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: #402a23;
  width: 600px;
}
.container .contact-us {
  background: linear-gradient(
    110.3deg,
    rgba(238, 179, 123, 0.907) 8.7%,
    rgba(216, 102, 77, 0.9) 47.5%,
    rgba(114, 43, 54, 0.922) 89.1%
  );
}
.container .contact-us .border {
  width: 50%;
  padding: 3rem;
  display: block;
  margin: 0 auto;
}

.container .contact-us .border .contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(
    755px at 10.1% 95.3%,
    rgb(242, 188, 141) 0%,
    rgb(242, 159, 141) 100.2%
  );
  margin: 3rem;
  padding: 2rem;
  border-radius: 80px;
}
.container .contact-us .border .contact-container p {
  font-family: "Lobster", cursive;
  font-size: 18px;
  color: #402a23;
}
.container .contact-us .border .contact-container button {
  padding: 1rem;
  border: none;
  border-radius: 30px;
  background: #624a438e;
  color: #f8cd99;
  font-size: 18px;
  font-family: "Lobster", cursive;
  cursor: pointer;
}
.container .contact-us .border .contact-container button:hover {
  background: #f8cd9980;
  color: #624a43;
}
.container .contact-us .border .contact-container button:active {
  transform: translateY(4px);
}

footer p {
  margin: 1rem;
  text-align: center;
  padding: 0 0 1rem 0;
  font-family: "Lobster", cursive;
  color: #dfd5d5;
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 100%;
  }
  .container header .header-nav-section {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 0 0;
  }
  .container header .header-nav-section img {
    width: 20%;
    margin: 0;
  }
  .container header .header-nav-section .header-nav-lists {
    display: block;
    margin: 0;
  }
  .container header .header-content {
    display: block;
    padding: 0.5rem 0 0 0;
  }
  .container header .header-content .header-content-description {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .container header .header-content .header-content-description h1 {
    font-size: 30px;
    text-align: center;
  }
  .container header .header-content .header-content-description p {
    font-size: 15px;

    padding: 0 0 1rem 0;
  }
  .container header .header-content .header-content-description button {
    width: 35%;
    font-size: 15px;
  }
  .container header .header-content img {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  .container .menu-content h1 {
    font-size: 30px;
    margin: 0;
  }
  .container .menu-content .menu-content-info .menu-content-lists {
    display: block;
    width: 700px;
    margin: 0 auto;
    position: relative;
    left: 21%;
  }
  .container
    .menu-content
    .menu-content-info
    .menu-content-lists
    .menu-content-list
    img {
    width: 30%;
  }
  container .section-quote {
    display: block;
  }
  .container .section-quote .quote {
    font-size: 15px;
    width: 170px;
  }

  .container .contact-us .border .contact-container {
    display: block;
    border-radius: 10%;
    margin: 0;
  }
  .container .contact-us .border .contact-container p {
    font-size: 15px;
  }
  .container .contact-us .border .contact-container button {
    padding: 0.5rem;
    margin: 0 auto;
    width: 80px;
    font-size: 15px;
  }
  footer p {
    font-size: 15px;
  }
}
